<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    <title>Document</title>
    {{#if config.cssLink}}
        <link rel="stylesheet" type="text/css" href="/static/scripts/styles.css">
    {{/if}}
</head>
<body>
<div id="main">{{{react}}}</div>

<script type="application/json" id="messages">{{{messages}}}</script>
<script src="/static/scripts/app.bundle.js"></script>

</body>
</html>