<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    {{#if config.cssLink}}
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
    {{/if}}
</head>
<body>
<div id="main">
    <p>Page not found. I'm sorry</p>
    <a href="/">Home</a>
</div>

</body>
</html>