$header-height: 25px;
$row-height: 30px;
$time-column-width: 47px;
$row-spacing: 2px;

$assignment-background-color: #af0;
$employee-row-background-color: #ccc;
$dividers-color: #000;
$schedule-chart-background-color: #eee;
$required-assignment-background-color: #00f;
$employeed-add-button-hover-color: #3a7999;

.schedule-chart {
  align-items: stretch;
  background-color: $schedule-chart-background-color;
  display: flex;
  flex-flow: row nowrap;
  padding: 5px 5px 5px 10px;
  user-select: none;
}

.schedule-chart-employees {
  display: flex;
  flex: 0 0 120px;
  flex-flow: column nowrap;
  padding: 10px 10px 10px 0;
}

.schedule-chart-timetable {
  flex: auto;
  min-width: 0;
  overflow: auto;
  padding: 10px 0;
}

.schedule-chart-timetable-box {
  display: inline-block;
  height: 100%;
  position: relative;
}

.employees-column-header {
  flex: 0 0 $header-height;
}

.employees-column-row {
  align-items: center;
  display: flex;
  flex: 0 0 $row-height;
  margin-bottom: $row-spacing;
}

.timetable-column-header {
  display: inline-table;
  height: $header-height;
  white-space: nowrap;
}

.timetable-header-time {
  align-content: center;
  box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
  padding: 0 5px;
  width: $time-column-width;
}

.timetable-column-row {
  background-color: $employee-row-background-color;
  height: $row-height;
  margin-bottom: $row-spacing;
  position: relative;
  width: 100%;
}

.timetable-dividers {
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.timetable-divider {
  background-color: $dividers-color;
  display: inline-block;
  height: 100%;
  margin-left: calc(#{$time-column-width} - 1px);
  width: 1px;
}

.employees-add-button {
  border: $dividers-color 1px dashed;
  box-sizing: border-box;
  cursor: pointer;
  flex: 0 0 $row-height;
  margin-bottom: $row-spacing;
  text-align: center;

  &:hover {
    background-color: $employeed-add-button-hover-color;
  }
}

.timetable-assignment {
  align-items: stretch;
  background-color: $assignment-background-color;
  display: flex;
  height: $row-height;
  justify-content: space-between;
  position: absolute;
}

.assignment-handle {
  $handle-color: #f00;
  background-color: $handle-color;
  cursor: ew-resize;
  width: 7px;
}

.assignment-summary {
  display: flex;
  flex-flow: row nowrap;
}

.assignment-summary-entry {
  flex: 0 0 $time-column-width;
  font-size: 16px;
  text-align: center;
}

.required-assignment {
  background-color: $required-assignment-background-color;
  height: 100%;
  position: absolute;
  width: $time-column-width;
}
